# Contributer ignore: where all local testing / learning stuff should be located
# in this directory, to not be included in pushes / merges / pull requests
.local
# to not include vscode configfolder in pushes / merges / pull requests
.vscode
.venv
# Starting from here: ignore of official maintainers
env/
build/
dist/
.eggs/
.workon
.epio-app
.tox
*.pyc
*.egg-info
*.swp
